{% extends 'admin/dashboard.html' %}
{% load static %}

{% block active %}{%endblock%}
{% block airport %} active {%endblock%}

{% block content %}
<br>
<h4>Manage Airport</h4>

   <div class="container mt-2 p-5">
    <h5 class="shadow p-3" style="width: fit-content;">{{aid.airportName}} <span class="mx-3"><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Remove
    </button>
    </span></h5>
        <p style="font-size: 20px;">Add City</p>
      <form method="POST">
         {% csrf_token %}
         {{form.as_p}}
         <button class="btn btn-dark">Add</button>
   </form>

   <p class="my-3">Cities</p>
   <!-- {% for city in data %}
   <div class="card my-3">
    <h5 class="card-header">{{city.fromCity.airportName}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{city.to}}</h5>
      <p class="card-text"><b>Day Charges: {{city.dayRate}}-----Night Charges: {{city.nightRate}}</b></p>
      <a href="{% url 'editCity' city.id %}" class="btn btn-primary">Edit</a><a href="{% url 'deleteCity' city.id %}"><button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Delete
      </button></a>
    </div>
  </div>
  {% endfor %} -->

  {% if data %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Day Charges</th>
        <th scope="col">Night Charges</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for city in data %}
      <tr>
        <td>{{city.to}}</td>
        <td>{{city.dayRate}}</td>
        <td>{{city.nightRate}}</td>
        <td><a href="{% url 'editCity' city.id %}" class="btn btn-primary">Edit</a></td>
        <td><a href="{% url 'deleteCity' city.id %}"><button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Delete
        </button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {%else%}
        <div class="text-center mt-4">
          <img src="{% static 'img/nocities.svg' %}" alt="No Cities Added" class="img-fluid" style="width: 400px;">
          <h2 class="mt-3">No Destinations Added</h2>
        </div>
  {%endif%}
   </div>

   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete <span class="text-danger">{{aid.airportName}}</span></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are You Sure You Want to Delete, <span class="text-danger">This action will also deletes all cities linked to {{aid.airportName}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{% url 'deleteAirport' aid.id %}"><button type="button" class="btn btn-primary">Confirm</button></a>
          
        </div>
      </div>
    </div>
  </div>


<script>

  const forms = document.querySelectorAll('input')
  for(let i of forms)
  {
      i.className = 'form-control'
  }


</script>
   
{% endblock %}